In [8]:
import pandas as pd
import numpy as np
from random import shuffle

In [9]:
xls = pd.ExcelFile("Participantes_gen.xlsx")

sheetX = xls.parse(0) #2 is the sheet number

nivel = sheetX['Nivel'];
alumno=sheetX['Alumno'];
curso=sheetX['Curso'];
genero=sheetX['Género supuesto'];

uc,nc=np.unique(curso, return_counts=True);
g,ng=np.unique(genero, return_counts=True);

Data=[];
for c in uc:     
    idx=[];
    j=0;
    for i in curso:        
        if i==c:
            idx.append(j);
        j+=1;    
    nF=0;
    nM=0;
    F=[];
    M=[];        
    for k in idx:
        if genero[k]=='F':
            nF+=1;
            F.append(alumno[k]);
        else:
            nM+=1;
            M.append(alumno[k]);
            
    Data.append({'curso':c,'nivel':c[0],'M':M,'F':F})
    print(c,nF,nM)
    
n=0;
D=[];
for a in alumno:
    D.append({'alumno':a,'nivel':nivel[n],'curso':curso[n],'genero':genero[n]})
    n+=1;

2. A 6 6
2. B 7 6
2. C 6 6
4. A 9 11
4. B 9 8
4. C 11 12
6. A 10 4
6. B 2 5
6. C 9 2

In [26]:

# parejas 2do M
P_2M=[
'AB',
'AB',
'AB',
'AC',
'AC',
'AC',
'BC',
'BC',
'BC'];

# parejas 2do F
P_2F=[    
'AB',
'AB',
'AB',
'AC',
'AC',
'AC',
'BC',
'BC',
'BC'   
];
#B



# parejas 6to F
P_6F=[
'AC',
'AC',
'AC',
'AC',
'AC',
'AC',
'AC',
'AC',
'AB',
'AB'];
# C

# parejas 6to M
P_6M=[
'AB',
'AB',
'AB',
'AC',
'BC'];
#B

# parejas 4to F
P_4F=[
'AB',
'AB',
'AB',
'AB',
'AC',
'AC',
'AC',
'AC',
'AC',
'BC',
'BC',
'BC',
'BC',
'BC'];
#C 

# parejas 4to M
P_4M=[
'AB',
'AB',
'AB',
'AB',
'AC',
'AC',
'AC',
'AC',
'AC',
'AC',
'AC',
'BC',
'BC',
'BC',
'BC'];
#C

In [15]:
print(len(P_2F),len(P_2M))
print(len(P_6F),len(P_6M))
print(len(P_4F),len(P_4M))

9 9
10 5
14 15

# Dos días: 5hs total - 8 sesiones de 35min

In [48]:
# parejas 2do
n=4;
g='F';

lista_A=[];
lista_B=[];
lista_C=[];
for a in D:
    if a['genero']==g and a['nivel']==n and a['curso']==str(n)+'. A':
        lista_A.append(a);
    elif a['genero']==g and a['nivel']==n and a['curso']==str(n)+'. B':
        lista_B.append(a);
    elif a['genero']==g and a['nivel']==n and a['curso']==str(n)+'. C':
        lista_C.append(a);
shuffle(lista_A)        
shuffle(lista_B)        
shuffle(lista_C)

In [49]:
i=0;
j=0;
k=0;
grupo=P_4F;
for p in grupo:    
    if p=='AB':
        print(lista_A[i]['alumno']);
        #print(lista_B[j]['alumno']);
        i+=1;
        j+=1;
    elif p=='AC':    
        print(lista_A[i]['alumno']);
        #print(lista_C[k]['alumno']);
        i+=1;
        k+=1;        
    elif p=='BC':    
        print(lista_B[j]['alumno']);
        #print(lista_C[k]['alumno']);
        j+=1;
        k+=1;    
        
print('%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%')        

i=0;
j=0;
k=0;
for p in grupo:    
    if p=='AB':
        print(lista_A[i]['curso']);
        #print(lista_B[j]['curso']);
        i+=1;
        j+=1;
    elif p=='AC':    
        print(lista_A[i]['curso']);
        #print(lista_C[k]['curso']);
        i+=1;
        k+=1;        
    elif p=='BC':    
        print(lista_B[j]['curso']);
        #print(lista_C[k]['curso']);
        j+=1;
        k+=1;    
        
print('%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%')        


i=0;
j=0;
k=0;        
for p in grupo:    
    if p=='AB':
        #print(lista_A[i]['alumno']);
        print(lista_B[j]['alumno']);
        i+=1;
        j+=1;
    elif p=='AC':    
        #print(lista_A[i]['alumno']);
        print(lista_C[k]['alumno']);
        i+=1;
        k+=1;        
    elif p=='BC':    
        #print(lista_B[j]['alumno']);
        print(lista_C[k]['alumno']);
        j+=1;
        k+=1;        
        
i=0;
j=0;
k=0;
for p in grupo:    
    if p=='AB':
        #print(lista_A[i]['curso']);
        print(lista_B[j]['curso']);
        i+=1;
        j+=1;
    elif p=='AC':    
        #print(lista_A[i]['curso']);
        print(lista_C[k]['curso']);
        i+=1;
        k+=1;        
    elif p=='BC':    
        #print(lista_B[j]['curso']);
        print(lista_C[k]['curso']);
        j+=1;
        k+=1;    
        
print('%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%')

ARAZI Lara
AGUIRRE SARAVIA Inés
TORRES BINAGHI Sofía Florencia
HEYMANN Sofía
NELSON BAUVIN Isabella
PADILLA Juana María
AVILA CARRIZO Sofia Maria
LITTLE Helena
MINOYETTI Simona
MOHADEB Delfina
MARINHO GARCIA MENEZES DOS SANTOS Ana Luiza
SACCONE Mercedes
GARCIA BALCARCE Concepcion
MONTAGNA DAVISON Isabella Matilde
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
4. A
4. A
4. A
4. A
4. A
4. A
4. A
4. A
4. A
4. B
4. B
4. B
4. B
4. B
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
GENTILE Clementina Mora
BULGHERONI Lucrezia
STEFANONI Emilia
NEGRI Carola
ANELLO Maria
GONZALEZ MOENAERT Delfina
VIEGENER Emma
VUINOVICH Isabella Elisa
LITTLE Emilia
POLACEK Juana
FERNANDEZ MADERO Isabel
SCHARGORODSKY SOLNICKI Sienna Victoria
SALGADO Mia
CIRIMELO Emilia
4. B
4. B
4. B
4. B
4. C
4. C
4. C
4. C
4. C
4. C
4. C
4. C
4. C
4. C
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

In [50]:
lista_C

[{'alumno': 'ANELLO Maria', 'curso': '4. C', 'genero': 'F', 'nivel': 4},
 {'alumno': 'GONZALEZ MOENAERT Delfina',
  'curso': '4. C',
  'genero': 'F',
  'nivel': 4},
 {'alumno': 'VIEGENER Emma', 'curso': '4. C', 'genero': 'F', 'nivel': 4},
 {'alumno': 'VUINOVICH Isabella Elisa',
  'curso': '4. C',
  'genero': 'F',
  'nivel': 4},
 {'alumno': 'LITTLE Emilia', 'curso': '4. C', 'genero': 'F', 'nivel': 4},
 {'alumno': 'POLACEK Juana', 'curso': '4. C', 'genero': 'F', 'nivel': 4},
 {'alumno': 'FERNANDEZ MADERO Isabel',
  'curso': '4. C',
  'genero': 'F',
  'nivel': 4},
 {'alumno': 'SCHARGORODSKY SOLNICKI Sienna Victoria',
  'curso': '4. C',
  'genero': 'F',
  'nivel': 4},
 {'alumno': 'SALGADO Mia', 'curso': '4. C', 'genero': 'F', 'nivel': 4},
 {'alumno': 'CIRIMELO Emilia', 'curso': '4. C', 'genero': 'F', 'nivel': 4},
 {'alumno': 'ALEXANDER DIMARCO Esther',
  'curso': '4. C',
  'genero': 'F',
  'nivel': 4}]

In [36]:
i=0;
j=0;
k=0;
for p in P_6M:    
    if p=='AB':
        print(lista_A[i]['alumno'],lista_A[i]['curso'],lista_B[j]['alumno'],lista_B[j]['curso']);
        i+=1;
        j+=1;
    elif p=='AC':    
        print(lista_A[i]['alumno'],lista_A[i]['curso'],lista_C[k]['alumno'],lista_C[k]['curso']);
        i+=1;
        k+=1;        
    elif p=='BC':    
        print(lista_B[j]['alumno'],lista_B[j]['curso'],lista_C[k]['alumno'],lista_C[k]['curso']);
        j+=1;
        k+=1;

CANITROT Agustin 6. A LERER Rafael 6. B
LACRUZ Mateo 6. A LO RUSSO Constantino 6. B
SOBRERO Lucas 6. A WU Rick Ezequiel 6. B
WU Esteban 6. A DE ARANZAMENDI Franco Andres 6. C
GROZOVSKY Milo 6. B KALPAKIAN Manuel 6. C

In [24]:
lista_B[-1]

{'alumno': 'ONDARRA Uma', 'curso': '2. B', 'genero': 'F', 'nivel': 2}

In [52]:
len(D)

129

In [ ]:
j

In [ ]:
k

In [ ]:
len(lista)